<%- include('partials/header.ejs') -%>
<script src="/js/adminPage.js"></script>
<nav>
    <%if (typeof navItemsTop !== "undefined"){%>
        <% for (var i = 0; i < navItemsTop.length; ++i){%>

            <%if (i == 7){%>
            <div class="dropdown">
             <span id="<%=navItemsTop[i]["id"]%>" class="navItem"><%=navItemsTop[i]["text"]%></span>
                <%} else if (i > 6){%>
              <div class="dropdown-content">
                 <a><span id="<%=navItemsTop[i]["id"]%>" class="navItem"><%=navItemsTop[i]["text"]%></span></a>
                    <%if (i == 9){%>
                  <a><span id="<%=navItemsTop[i]["id"]%>" class="navItem"><%=navItemsTop[i]["text"]%></span></a>
              </div>
            </div>
                    <%}%>
                    <%}else{%>
        <%if (i != 0){%>
            |
        <%}%>
            <span id="<%=navItemsTop[i]["id"]%>" class="navItem"><%=navItemsTop[i]["text"]%></span>
            <%}%>
    <%}%>
    <%}%>

</nav>
<div id="userMainContent">
    <div class="row" id="adminTopRow">
        <div class="block">
            <div id="adminText1"></div>
        </div>
    </div>
    <br>
    <div class="row" id="adminBottomRow">
        <div class="block">
            <div id="adminText2"></div>
        </div>
    </div>
</div>
<%- include('partials/footer.ejs') -%>