<%- include('partials/header.ejs') -%>
<script src="/js/adminPage.js"></script>
<nav>
    <%if (typeof navItemsTop !== "undefined"){%>
        <% for (var i = 0; i < navItemsTop.length; ++i){%>
            <%if (i != 0){%>
                |
            <%}%>
            <%if (i == 7){%>
            <div class="dropdown">
             <span id="<%=navItemsTop[i]["id"]%>" class="navItem"><%=navItemsTop[i]["text"]%></span>
              <div class="dropdown-content">
                 <a><span id="<%=navItemsTop[i+1]["id"]%>" class="navItem"><%=navItemsTop[i+1]["text"]%></span></a>
              </div>
            </div>
            <%break%>
            <%}%>
            <span id="<%=navItemsTop[i]["id"]%>" class="navItem"><%=navItemsTop[i]["text"]%></span>
        <%}%>
    <%}%>

</nav>
<div id="userMainContent">
    <div class="row" id="adminTopRow">
        <div class="block">
            <div id="adminText1"></div>
        </div>
    </div>
    <br>
    <div class="row" id="adminBottomRow">
        <div class="block">
            <div id="adminText2"></div>
        </div>
    </div>
</div>
<%- include('partials/footer.ejs') -%>